<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


</head>
<body style="background-color: #fff3cd">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="text-align: center;font-size: 2.7em;color: black;margin-bottom: 100px;background-color: #ffee50;
                border-radius: 5px">Famille à verifier</h1>
                {{ include('email/family-table.html.twig') }}
            </div>
        </div>
    </div>
<footer>
    <h1 style="margin-top: 1000px;text-align: center;color: red">Sent with ❤ from SADAK@</h1>
</footer>
</body>
</html>