<form method="post" action="{{ path('panier_temp_delete', {'id': panier_temp.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panier_temp.id) }}">
    <button class="btn">Supprimer</button>
</form>
